.jumbotron {
  background-color: #2F4858;
  color: #4FBA88;
  text-align: center;
  font-size-adjust: 0.9;
}

#jumbo {
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  background-color: #21A48E;
  margin: 20px;
}

h3 {
  text-align: center;
  padding: 10px;
}

input {
  padding: 30px;
}

button {
  margin: 20px;
  float: right;
  
}

.result {
  margin: 50px;
  text-align:center;
}

img {
  max-width: 200px;
  max-height: 200px;
}


#ruby {
  display: none;
}

#javascript {
  display: none;
}

#python {
  display: none;
}

footer {
  height: 200px;
  text-align: center;
  margin-top: 20px;
}
